html,
body,
#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #0f0e17;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: #43b164;
  text-decoration: inherit;
  font-size: 1.2rem;
}
a:hover {
  color: #0f0e17;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0f0e17;
    background-color: #ffffff;
  }
  a:hover {
    color: #43b164;
  }
  button {
    background-color: #ffffff;
  }
}
