.header {
  background-color: #43b164;
  width: 100%;
  padding: 0.75rem 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Logo flush left */
.logo {
  padding-left: 1.5rem;
}

.logo-text {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}

.logo-divider {
  width: 2px;
  height: 2rem;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 2rem;
}

/* nav-links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 2.5rem !important;
  /* background: #246e024f !important; */
  border-radius: 6px;
}
.nav-link {
  color: white !important;
  border-radius: 6px !important;
  padding: 1rem 1rem;
  background: transparent !important;
  display: flex;
  align-items: center;
}
.nav-link:hover {
  background: rgba(30, 114, 41, 0.466) !important;
}
.nav-link.active {
  background: white !important;
  color: #000 !important;
}
.nav-link.active .chevron-icon {
  color: #000 !important;
}

/* spacer */
.spacer {
  flex: 1;
}

/* Search flush right */
.search-container {
  margin-right: 1rem;
}
.search-button {
  color: white !important;
  background: transparent !important;
  cursor: pointer;
}
.search-button:hover {
  background: rgba(30, 114, 41, 0.466) !important;
}

.search-expanded {
  background: white !important;
  border-radius: 6px !important;
}
.search-icon {
  /*icon when expanded */
  color: #000000;
}
.search-input {
  color: #000;
  background: transparent;
}

/* logout */
.logout-button {
  margin-right: 1.5rem;
  color: white;
  background: transparent;
  border: none;
}
.logout-button:hover {
  background: white;
  color: #43b164;
}
