/* Spotify Mix Bold */
@font-face {
  font-family: "Spotify Mix";
  src: url("../assets/fonts/SpotifyMix-Bold.woff2") format("woff2"),
    url("../assets/fonts/SpotifyMix-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 64px;
  background-color: #43b164;
  transition: transform 0.2s ease-in;
  will-change: transform;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.39);
}
/* when hidden, move it completely off top */
.header.hidden {
  transform: translateY(-100%);
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: visible;
}

/* Logo flush left */
.logo {
  padding-left: 1.2rem;
}
.logo-icon {
  font-size: 1.5rem;
  color: black;
  margin-right: 0.5rem;
}

.logo-text {
  font-family: "Spotify Mix", sans-serif;
  font-size: 1.125rem;
  color: rgb(0, 0, 0);
}

.logo-divider {
  width: 2px;
  height: 2rem;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 2rem;
}

/* nav-links */
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem !important;
  border-radius: 6px;
}
.nav-link {
  color: rgb(255, 255, 255) !important;
  border-radius: 6px !important;
  padding: 0.6rem 1rem;
  background: transparent !important;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}
.nav-link:hover {
  background: rgba(30, 114, 41, 0.466) !important;
}
.nav-link.active {
  background: white !important;
  color: #000 !important;
}
.nav-link.active .chevron-icon {
  color: #000 !important;
}

/* spacer */
.spacer {
  flex: 1;
}

/* Search flush right */
.search-container {
  margin-right: 1rem;
}
.search-button {
  color: white !important;
  background: transparent !important;
  cursor: pointer;
}
.search-button:hover {
  background: rgba(30, 114, 41, 0.466) !important;
}

.search-expanded {
  background: white !important;
  border-radius: 6px !important;
}
.search-icon {
  /*icon when expanded */
  color: #000000;
}
.search-input {
  color: #000;
  background: transparent;
}

/* Profile Avatar link */
.avatar-link {
  margin-right: 1rem;
  display: inline-flex;
  border-radius: 50%;
  border: 4px solid transparent;
}
.avatar-link:hover {
  border: 4px solid rgba(30, 114, 41, 0.466);
}
.avatar-link.active {
  border: 2px solid #ffffff;
  padding: 2px;
}
.avatar-link .chakra-avatar {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 43px;
  height: 43px;
}
.avatar-link .chakra-avatar__initials {
  font-size: 20px !important;
}
.avatar-divider {
  width: 2px;
  height: 2rem;
  background: rgba(255, 255, 255, 0.7);
  margin: 0rem 2rem 0rem 1rem;
}

/* sign in */
.signin-button {
  margin-right: 1.5rem;
  color: white;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.signin-button:hover {
  background: white;
  color: #43b164;
}
.signin-button svg {
  margin-left: 0.3rem;
}

/* logout */
.logout-button {
  margin-right: 1.5rem;
  color: white;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logout-button:hover {
  background: white;
  color: #43b164;
}
.logout-button svg {
  margin-right: 0.3rem;
}
